<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Промокоды</title>
    <style>
        body { font-family: Arial; padding: 20px; max-width: 600px; margin: auto; }
        input, textarea, select { width: 100%; padding: 8px; margin: 5px 0; }
        button{ font-weight: bold; color: #ffffff; background-color: #15590d;}
        button:hover { background: #1f7a14; }
    </style>
</head>
<body>
    <h1>Ввести промокод</h1>
    <form action="/enter" method="post">
        <input type="text" name="promo" placeholder="Ваш промокод" required>
        <button type="submit">Ввести</button>
    </form>
    <h3>Промокоды мог дать вам премиум статус.<br><br>Привилегии:<br><br>1. При создании поста он получает 10 лайков автоматически<br>2. Ваше введенное имя будет отображаться другим цветом и будет помечено "🌟"<br>3. Один лайк премиума - 5 лайков</h3>
</body>
</html>