<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Промокоды</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: Arial; padding: 20px; max-width: 600px; margin: auto; }
        input, textarea, select { width: 100%; padding: 8px; margin: 5px 0; }
        button{ font-weight: bold; color: #ffffff; background-color: #15590d;}
        button:hover { background: #1f7a14; }
    </style>
</head>
<body>
    <h1>Ввести промокод</h1>
    <form action="/enter" method="post">
        <input type="text" name="promo" placeholder="Ваш промокод" required>
        <button type="submit">Ввести</button>
    </form>
    <h3>Промокоды мог дать вам премиум статус, которые имеет два уровня:<br></h3>
    <h4>1 уровень:<br><br>1. При создании поста он получает 5 лайков автоматически<br>2. Один лайк премиума - 5 лайков<br><br><br>2 Уровень:<br><br>1. Все привилегии 1 уровеня<br>2. Доступ к закрытому чату сайта<br>3. Ваше введенное имя будет отображаться другим цветом и будет помечено "🌟"</h4>
    <h3>Промокоды действуют в течение 1 месяца, после чего премиум отключается</h3>
    <h3>По поповду покупки и остальных вопросах писать в Телеграмм: @SchooGhost_bot</h3>
</body>
</html>